.color {
    position: absolute;
    top: 500px;
    left: 50px;
    font-size: 25px;
    color: black;
    padding: 20px;
}

.cl1 {
    position: relative;
}

img {
    width: 60%;
    position: relative;
}

.sp1 {
    font-size: 30px;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

.sp2 {
    font-size: 15px;
}

.sp3 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bt {
    position: absolute;
    bottom: 700px;
    background-color: none;
}

.bt1 {
    width: 150%;
    height: 30px;
    border-radius: 5px;
    background-color: blue;
    border: 2px solid white;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 850px;
}

button {
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

.page {
    background: transparent;
    color: #888;
}

.page.active {
    background: black;
    color: white;
    font-weight: bold;
    border-radius: 50%;
}

.next {
    background: black;
    color: white;
}
